.parent-container{
    background-color: #372b1d;
}

.container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.item{
    border-style: solid;
    /* margin: 3rem; */
}

.item:first-child{
    width: 9000px;
}

.title{
    color: #ffddb0;
}

.titleParagraph{
    color: #a6998b;
}

.welcomeButton{
    /* background-color: #52402e; */
    background-color: #372b1d;
    color: #ffddb0;
    border: none;
    padding: 10px 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #a6998b;
    /* border: #52402e; */

}

.welcomeButton:hover{
    background-color: #ffddb0;
    color: #372b1d;

}