.parent-container{
    background-color: #372b1d;
}

.container{
    display: flex;
    justify-content: center;
    /* width: 90%; */
    margin-left: 6rem;
    margin-right: 6rem;
    /* padding: 30px; */
}

.item{
    border-style: solid;
}

.item:first-child{
    width: 9000px;
}

.title{
    color: #ffddb0;
}

.titleParagraph{
    color: #a6998b;
}

.welcomeButton{
    background-color: #372b1d;
    color: #ffddb0;
    border: none;
    padding: 10px 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #a6998b;

}

.welcomeButton:hover{
    background-color: #ffddb0;
    color: #372b1d;
}

.item-2, .item-3{
    text-align: center;
}

.goldenButton{
    background-color: #372b1d;
    color: rgb(206, 175, 0);
    border: none;
    padding: 10px 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid goldenrod;
}

.goldenButton:hover{
    background-color: rgb(206, 175, 0);
    color: #372b1d;
}

.forcedMargin{
    margin: 3rem;
}