<h2>Catálogo de Caballos</h2>
<button class="agregar" (click)="onStartAdding()">AGREGAR</button>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Edad</th>
      <th>Color</th>
      <th>País Origen</th>
      <th>Disciplina</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of consultar; track $index) {
      <tr>
        <td>{{item.nombre}}</td>
        <td>{{item.raza}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.color}}</td>
        <td>{{item.pais_origen}}</td>
        <td>{{item.disciplina_ecuestre}}</td>
        <td>
          <button (click)="editar(item.nombre, item.raza, item.edad, item.color, item.pais_origen, item.disciplina_ecuestre)">Editar</button>
          <button (click)="eliminar(item.nombre)">Eliminar</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (IsAgregar) {
  <app-agregar (close)="onCloseAdding()"></app-agregar>
}

@if (IsEditar) {
  <app-editar (close)="onCloseEditing()" [nombre]="nombreEditar" [edad]="edadEditar" [raza]="razaEditar" [color]="colorEditar" [pais_origen]="pais_origenEditar" [disciplina_ecuestre]="disciplina_ecuestreEditar"></app-editar>
}

<!-- buscar elemento, mandarle el objeto al componente y q lo pida como input -->